/* styles.css */

/* Add styles here to customize the appearance of your app */
*, ::after,::before {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
}